{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Search Tweets{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <nav>
        {% block nav %}navbar{% endblock %}
    </nav>

    <main class="min-h-[calc(100dvh-900px)]">
        {% block main_content %}mian content{% endblock %}
    </main>

    <footer class="text-center p-5 bg-gray-800 text-xs font-extrabold">
        {% block footer %}© {{ current_year }} Search Tweets. All rights reserved.{% endblock %}
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
