{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Search Tweets{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <nav class="flex justify-between items-center py-2">
        <div>
            <p>Search Tweets</p>
        </div>

        <div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'tweet_list' %}">Tweets</a>
        </div>

        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="py-2 px-4 bg-gray-800 text-white hover:bg-gray-900 rounded-lg font-bold duration-200">Logout</a>
            {% else %}
                <a href="{% url 'register' %}" class="py-2 px-4 bg-gray-800 text-white hover:bg-gray-900 rounded-lg font-bold duration-200">Register</a>
                <a href="{% url 'login' %}" class="py-2 px-4 bg-gray-800 text-white hover:bg-gray-900 rounded-lg font-bold duration-200">Login</a>
            {% endif %}
        </div>
    </nav>

    <main class="min-h-[calc(100dvh-900px)]">
        {% block main_content %}mian content{% endblock %}
    </main>

    <footer class="text-center p-5 bg-gray-800 text-xs font-extrabold">
        {% block footer %}© {{ current_year }} Search Tweets. All rights reserved.{% endblock %}
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
